
@{
    ViewBag.Title = "index";
}

<h2>Student Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        

            @{foreach (var student in @ViewBag.All_Students)
                {
                    <tr>

                        <th scope="row">@student.StudentID</th>
                        <td>@student.FirstName</td>
                        <td>@student.LastName</td>
                        <td>@student.Major</td>

                    </tr>

                }
            }
            
            
        
    </tbody>
</table>

